backend/.DS_Store
backend/node_modules
backend/dist

# local env files
backend/.env
backend/.env.local
backend/.env.*.local

# Log files
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*

# Editor directories and files
backend/.idea
backend/.vscode
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/*.sw?


